<!DOCTYPE HTML>
<html lang="en">
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	

</head>
<body>
	
	<div class="main-area center-text" style="background-image:url(./images/img1.jpg);">
		
		<div class="display-table">
			<div class="display-table-cell">
				
				<h1 class="title font-white"><b>Coming Soon</b></h1>
				<p class="desc font-white" >Leon Homes and  realty </br> </br> we've got great  <span style="color:#00a5ef; font-size: 1.9rem;" > Design </span>  Coming.</p>
				
				<a class="notify-btn" href="/"><b>see more</b></a>
				
				<ul class="social-btn font-white">
					<li><a href="#">facebook</a></li>
					<li><a href="#">twitter</a></li>
					<li><a href="#">instagram</a></li>
					<h6 class="desc font-white">Leon Homes | Copyright @ 2021</h6>
				</ul><!-- social-btn -->
				
			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->

	
</body>
</html>
